<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Нейронные сети - BETA</title>
	<link rel="stylesheet" type="text/css" href="/zirion/coursework/template/reset.css">
	<link rel="stylesheet" type="text/css" href="/zirion/coursework/template/style.css">
	<link rel="icon" type="image/png" href="Logo.png">
	<link rel="shortcut icon" type="image/png" href="Logo.png">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto:300');
	</style>
	<div class="header" onclick="location.href = '/zirion/coursework/'">
		<span class="welcome-msg">Добро пожаловать</span>
		<span class="underline"></span>
	</div>
	<div class="bg-image"></div>
	<div class="wrapper">
		<!--<span class="text">Загрузите изображение:</span>-->
		<form id="send_image" enctype="multipart/form-data" action="" method="POST">
			<label class="upload-img">
				<span>Загрузите изображение</span>
				<input type="file" name="getimage">
			</label>
			<input type="submit" name="checkfigure">
		</form>
		<div class="result">
			<span class="text">Вероятно, на изображении </span>
			<span class="answer">Ответ</span>
		</div>
	</div>
	<div class="footer">
		<span class="copyright">Демонстрация нейросетей 2017 &copy; IP-615 Group</span>
	</div>
	<script src="/zirion/coursework/template/scripts.js"></script>
</body>	
</html>
